NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me
NEXTAUTH_URL=http://localhost:3000
API_INTERNAL_URL=http://localhost:3001
API_SERVICE_TOKEN=service-token-for-ssr
NEXT_PUBLIC_STRIPE_KEY=pk_test_...
